<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lesson 4</title>
</head>
<body bgcolor='#696969'>

 <h2><a style='text-decoration: none' href='/tasks/'><-To tasks</a></h2>
<p></p>
<h2>---<a style='text-decoration: none' href='/tasks/lesson4/task404/'>Task 404</a>---</h2>
<h2>---<a style='text-decoration: none' href='/tasks/lesson4/task406/'>Task 406</a>---</h2>
<h2>---<a style='text-decoration: none' href='/tasks/lesson4/task407/'>Task 407</a>---</h2>

</body>
</html>