{% extends "_base.html" %}
{% block title %}504{% endblock %}

{% block main %}
<p style = 'color:#E6E6FA;font-family: courier, monospace;'>
    An integer matrix A [n, m] is given.</p>
<p style = 'color:#E6E6FA;font-family: courier, monospace;'>
    Count the number of matrix elements exceeding</p>
<p style = 'color:#E6E6FA;font-family: courier, monospace;'>
    the arithmetic mean of the matrix elements and the sum of their indices is even.</p>


<form>
    <label style = 'color:#E6E6FA'  for="id_dimension">Dimension</label>
    <input id="id_dimension" name="lines_n" placeholder="Input number of lines(n)" type="text">
    <input name="columns_m" placeholder="Input number of columns(m)" type="text">
    <button type="submit">Solve</button>
</form>

<h2><p style = 'color:#FFA07A;font-family: courier, monospace;'>{{show_text}}</p></h2>

 <h2 style = 'color:#FFA07A;font-family: courier, monospace;'>{{show_matrix}}</h2>

<h2><p style = 'color:#FFA07A;font-family: courier, monospace;'>{{show_count}}</p></h2>
{% endblock %}