<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lesson 5</title>
</head>
<body bgcolor='#696969'>

 <h2><a style='text-decoration: none' href='/tasks/'><-To tasks</a></h2>
<p></p>

<h2>---<a style='text-decoration: none' href='/tasks/lesson5/task501/'>Task 501</a>---</h2>
<h2>---<a style='text-decoration: none' href='/tasks/lesson5/task502/'>Task 502</a>---</h2>
<h2>---<a style='text-decoration: none' href='/tasks/lesson5/task503/'>Task 503</a>---</h2>
<h2>---<a style='text-decoration: none' href='/tasks/lesson5/task504/'>Task 504</a>---</h2>
<h2>---<a style='text-decoration: none' href='/tasks/lesson5/task507/'>Task 507</a>---</h2>

</body>
</html>