<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 311</title>
</head>
<body bgcolor='#696969'>

 <h2><a style='text-decoration: none' href='/tasks/lesson3/'><-To the lesson 3</a></h2>
 <p></p>

 <p style = 'color:#E6E6FA;font-family: courier, monospace;'>Enter a gmail address. Check domain name.
     If it is gmail.com, display the name of the gmail.</p>
 <p style = 'color:#E6E6FA;font-family: courier, monospace;'>Otherwise, display the inscription
     "DOMAIN NAME is not supported"</p>

<form>
    <label style = 'color:#E6E6FA'  for="id_gmail">Gmail address</label>
    <input id="id_gmail" name="gmail" placeholder="Input your gmail" type="text">
    <button type="submit">Solve</button>
</form>

 <h2><p style = 'color:#FFA07A;font-family: courier, monospace;'>{show_text}</p></h2>

</body>
</html>