{% extends "_base.html" %}
{% block title %}307{% endblock %}

{% block main %}
 <p style = 'color:#E6E6FA;font-family: courier, monospace;'>
    Enter a string from the keyboard</p>
<p style = 'color:#E6E6FA;font-family: courier, monospace;'>
    If the line length is greater than 5 - display the value on the screen</p>
<p style = 'color:#E6E6FA;font-family: courier, monospace;'>
    If the line length is less than 5 - output the line “Need more!”</p>
<p style = 'color:#E6E6FA;font-family: courier, monospace;'>
    If the length of the line is 5 - output the line “It is five”</p>


<form>
    <label style = 'color:#E6E6FA'  for="id_string">String</label>
    <input id="id_string" name="string" placeholder="Input some string" type="text">
    <button type="submit">Solve</button>
</form>

 <h2><p style = 'color:#FFA07A;font-family: courier, monospace;'>{{show_text}}</p></h2>
{% endblock %}