{% extends "_base.html" %}
{% block title %}406{% endblock %}

{% block main %}
<p style = 'color:#E6E6FA;font-family: courier, monospace;'>
    Get the sum of cubes of natural numbers from n to m using a for loop</p>

<form>
    <label style = 'color:#E6E6FA'  for="id_digits">Digits</label>
    <input id="id_digits" name="digit1" placeholder="Input first digit(n)" type="text">
    <input name="digit2" placeholder="Input second digit(m)" type="text">
    <button type="submit">Solve</button>
</form>

 <h2><p style = 'color:#FFA07A;font-family: courier, monospace;'>{{show_text}}</p></h2>
{% endblock %}