{% extends "_base.html" %}
{% block title %}402{% endblock %}

{% block main %}
<p style = 'color:#E6E6FA;font-family: courier, monospace;'>
    Sum up an indefinite number of numbers entered by the user.</p>
<p style = 'color:#E6E6FA;font-family: courier, monospace;'>
     Sum up until the user enters the word "stop"</p>

<form method="post" enctype='application/x-www-form-urlencoded'>
    <label style = 'color:#E6E6FA'  for="id_number">Number</label>
    <input id="id_number" name="number" placeholder="Input number" type="text">
    <button type="submit">Solve</button>
</form>

 <h2><p style = 'color:#FFA07A;font-family: courier, monospace;'>{{show_text}}</p></h2>
{% endblock %}