<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 308</title>
</head>
<body bgcolor='#696969'>

 <h2><a style='text-decoration: none' href='/tasks/lesson3/'><-To the lesson 3</a></h2>

 <p></p>

<p style = 'color:#E6E6FA;font-family: courier, monospace;'>
     Enter a number, check that the number was entered.</p>
<p style = 'color:#E6E6FA;font-family: courier, monospace;'>
     Convert it to a cube.</p>

<form>
    <label style = 'color:#E6E6FA'  for="id_digit">Digit</label>
    <input id="id_digit" name="digit" placeholder="Input digit" type="text">
    <button type="submit">Solve</button>
</form>

 <h2><p style = 'color:#FFA07A;font-family: courier, monospace;'>{{show_text}}</p></h2>

</body>
</html>