<!DOCTYPE html>
<html>
<head>

        <title>Maksim</title>



        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">

</head>
        <body bgcolor='#696969'>
            <h1 style='text-align:center;color:#F5F5DC;font-family: courier, monospace'>It's my project!</h1>
            <hr style='border-width: 2px;border-color:#800000;'>
            <h2 style='text-align:center;color:#F0FFF0;font-style:italic;'>
            <a style='text-decoration: none' href='https://www.pexels.com/search/animals/'>
            -->Some animals photo(click)<--</a></h2>
            <h2 style='color:#FFA07A'>What is Python?</h2>
            <p style = 'color:#E6E6FA;font-family: courier, monospace;'>Python is an interpreted, object-oriented,
            high-level programming language with dynamic semantics. Its high-level built in data structures,
            combined with dynamic typing and dynamic binding,
            make it very attractive for Rapid Application Development,
            as well as for use as a scripting or glue language to connect existing components together.
            Python's simple, easy to learn syntax emphasizes readability and therefore reduces"
            the cost of program maintenance. Python supports modules and packages
            which encourages program modularity and code reuse.
            The Python interpreter and the extensive standard library are available in source or binary"
            form without charge for all major platforms, and can be freely distributed.</p>
            <h1>---<a style='text-decoration: none' href='/tasks/'>Tasks</a>---</h1>
        </body>
</html>