<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 703</title>
</head>
<body bgcolor='#696969'>

 <h2><a style='text-decoration: none' href='/tasks/lesson7/'><-To the lesson 7</a></h2>

 <p></p>

<p style = 'color:#E6E6FA;font-family: courier, monospace;'>Write a program to find the factorial.</p>

<form>
    <label style = 'color:#E6E6FA'  for="id_number">Factorial of number</label>
    <input id="id_number" name="number" placeholder="Input number" type="text">
    <button type="submit">Solve</button>
</form>

 <h2><p style = 'color:#FFA07A;font-family: courier, monospace;'>--> {{show_result}}</p></h2>

</body>
</html>